<div class="container">
    <div class="row">
      <a class="btn btn=primary" routerLink="/admin">Back to List</a>
    </div>
    <div>
      <div class="form-group">
        <label>Buyer Name</label>
        <div class="form-control">{{cryptocurrency?.symbol}}</div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <div class="form-control">{{cryptocurrency?.name}}</div>
      </div>
      <div class="form-group">
        <label>Phone</label>
        <div class="form-control">{{cryptocurrency?.hashingAlgorithm}}</div>
      </div>
      <div class="form-group">
        <label>Bike Model</label>
        <div class="form-control">{{cryptocurrency?.categories}}</div>
      </div>
      <div class="form-group">
        <label>Bike Serial Number</label>
        <div class="form-control">{{cryptocurrency?.description}}</div>
      </div>
      <div class="form-group">
        <label>Purchase Price</label>
        <div class="form-control">{{cryptocurrency?.links}}</div>
      </div>
      <div class="form-group">
        <label>Purchase Date</label>
        <div class="form-control">{{cryptocurrency?.image}}</div>
      </div>
      <div class="form-group">
        <label>Purchase Date</label>
        <div class="form-control">{{cryptocurrency?.programmingLanguageImplementation}}</div>
      </div>
      <div class="form-group">
        <label>Purchase Date</label>
        <div class="form-control">{{cryptocurrency?.releaseYear}}</div>
      </div>
    </div>
  </div>
  