<div class="container">
    <table class="table table-bordered table-inverse">
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>hashingAlgorithm</th>
        <th>categories</th>
        <th>description</th>
        <th>links</th>
        <th>image</th>
        <th>programmingLanguageImplementation</th>
        <th>releaseYear</th>
      </tr>
      <tr *ngFor="let cryptocurrency of cryptocurrencies">
        <td>
          {{cryptocurrency.symbol}}
        </td>
        <td>
          {{cryptocurrency.name}}
        </td>
        <td>
          {{cryptocurrency.hashingAlgorithm}}
        </td>
        <td>
          {{cryptocurrency.categories}}
        </td>
        <td>
          {{cryptocurrency.description}}
        </td>
        <td>
          {{cryptocurrency.links}}
        </td>
        <td>
          {{cryptocurrency.image}}
        </td>
        <td>
          {{cryptocurrency.programmingLanguageImplementation}}
        </td>
        <td>
          {{cryptocurrency.releaseYear}}
        </td>
      </tr>
    </table>
  </div>