<div class="container">
    <table class="table table-bordered table-inverse table-hover">
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Hashing Algorithm</th>
        <th>Categories</th>
        <th>Description</th>
        <th>Links</th>
        <th>Image</th>
        <th>Programming Language  Implementation</th>
        <th>ReleaseYear</th>
      </tr>
      <tr *ngFor="let cryptocurrency of cryptocurrencies" (click)="redirecToDetails(cryptocurrency.id)" >
        <td >
          {{cryptocurrency.symbol}} 
        </td>
        <td>
          {{cryptocurrency.name}}
        </td>
        <td>
          {{cryptocurrency.hashingAlgorithm}}
        </td>
        <td>
          {{cryptocurrency.categories}}
        </td>
        <td>
          {{cryptocurrency.description}}
        </td>
        <td>
          {{cryptocurrency.links}}
        </td>
        <td>
          {{cryptocurrency.image}}
        </td>
        <td>
          {{cryptocurrency.programmingLanguageImplementation}}
        </td>
        <td>
          {{cryptocurrency.releaseYear}}
        </td>
      </tr>
    </table>
  </div>